<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.dao.UpdatedLogMapper">
    <resultMap id="BaseResultMap" type="com.lib.model.UpdatedLog">
        <id property="logId" column="log_id" jdbcType="BIGINT"/>
        <result property="dataClass" column="class_name" jdbcType="VARCHAR"/>
        <result property="dataId" column="data_id" jdbcType="INTEGER"/>
        <result property="oldData" column="parameter" jdbcType="VARCHAR"/>
        <result property="newData" column="return_value" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="create" parameterType="com.lib.model.Parameter" keyColumn="uLog.id" useGeneratedKeys="true">
        insert into update_log(data_class, data_id, old_data, new_data, create_time, create_by)
        values (#{uLog.dataClass}, #{uLog.dataId}, #{uLog.oldData}, #{uLog.newData}, NOW(), #{uLog.createBy})
    </insert>

</mapper>